# compiled output
/.vscode/*

/backend/dist
/backend/node_modules
/backend/yarn.lock
/backend/npm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*
/backend/lerna-debug.log*
/backend/src/database/sql/config/database.js
/backend/src/database/mongo/mongodb.js

/frontend/dist
/frontend/node_modules
/frontend/yarn.lock
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/lerna-debug.log*

/mobile/dist
/mobile/node_modules
/mobile/yarn.lock
/mobile/npm-debug.log*
/mobile/yarn-debug.log*
/mobile/yarn-error.log*
/mobile/lerna-debug.log*